.root{
  li {
    display: inline-block;

    a {
      padding: 10px;
      border: 1px solid #fe6f1e;
      width: 45px;
      height: 45px;
      border-radius: 30px;
      text-align: center;
      line-height: 23px;
      cursor: pointer;
      margin-right: 10px;
      display: inline-block;
      color: #fe6f1e;

      &:hover {
        background-color: #fe6f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe6f1e;
        color: #fff;
      }
  }
  }
}