.root {
  position: relative;
  left: -100px;

  @media (max-width: 1300px) {
    left: 0px;
  }

  @media (max-width: 1060px) {
    left: 0px;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  padding-left: 30px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px 20px;

  @media (max-width: 1060px) {
    width: 200px;
  }

  @media (max-width: 1300px) {
     width: 300px;
  }

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  left: 27px;
  top: 21px;
}

.clearIcon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  position: absolute;
  right: 30px;
  top: 21px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;

  }
}